<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="m-4">
    <div class="form-group justify-content-center row ">
      <mat-form-field class="col-md-8">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
    </div>

  <div class="form-group justify-content-center row  ">
    <mat-form-field class="col-md-8">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
  </div>

    <div class="form-group justify-content-center row  ">
      <mat-form-field class="col-md-8">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
    </div>

    <div class="form-group justify-content-center row">
      <mat-form-field class="col-md-8">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>

  <div class="form-group justify-content-center row">
    <mat-form-field class="col-md-8">
      <mat-label>Contact Number</mat-label>
      <input matInput type="text" formControlName="contactNumber">
    </mat-form-field>
  </div>

  <div class="form-group justify-content-center row">
    <mat-form-field class="col-md-8">
      <mat-label>Department</mat-label>
      <mat-select formControlName="department">
        <mat-option value="network">Network</mat-option>
        <mat-option value="administration">Administration</mat-option>
        <mat-option value="system">System</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <div class="form-group justify-content-center row">
      <mat-form-field class="col-md-8">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="developer">Developer</mat-option>
          <mat-option value="supervisor">Supervisor</mat-option>
          <mat-option value="admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  <div class="form-group justify-content-center row">
    <mat-form-field class="col-md-8">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="accepted">Accepted</mat-option>
        <mat-option value="rejected">Rejected</mat-option>
        <mat-option value="pending">Pending</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-12 text-center">
      <button mat-raised-button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
