<mat-toolbar class="custom-gray">
  <div class="toolbar-left">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <img src="./assets/eSewalogo.png" alt="Logo">
    </button>
  </div>

  <div class="toolbar-center">
    <span class="toolbar-title">Change Request Approval System</span>
  </div>
  <div class="float-end">
    <button class="btn " (click)="logout()">
      <span class="toolbar-title">Logout</span>
    </button>
  </div>
</mat-toolbar>


