<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin-dashboard/add-user">
      <mat-icon mat-list-icon>add</mat-icon>Add User</button>

    <button mat-list-item routerLink="/admin-dashboard/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon>Profile
    </button>

    <button mat-list-item routerLink="/admin-dashboard/view-request-list">
      <mat-icon mat-list-icon>view_list</mat-icon>View Request List
    </button>

    <button mat-list-item routerLink="/admin-dashboard/assign-request-list">
      <mat-icon mat-list-icon>view_list</mat-icon>Assign Request List
    </button>

    <button mat-list-item >
      <mat-icon mat-list-icon>logout</mat-icon>Logout
    </button>
  </mat-action-list>
</mat-card>
