<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin/add-user">
      <mat-icon mat-list-icon>add</mat-icon>Add User</button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon>Profile
    </button>

    <button mat-list-item routerLink="/admin/view-request-list">
      <mat-icon mat-list-icon>view_list</mat-icon>View Request List
    </button>

    <button mat-list-item routerLink="/admin/assign-request-list">
      <mat-icon mat-list-icon>view_list</mat-icon>Assign Request List
    </button>

  </mat-action-list>
</mat-card>
