<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <mat-card>
          <mat-card-header>
            <mat-card-title>Your Profile</mat-card-title>
          </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-md-10 text-center">
              <img src="assets/default-profile.png" alt="" class="profile-image"/>
              <div>
                <h1 class="mt24">Your Name</h1>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-10">
              <form>
                <div class="form-group">
                  <label for="firstname">First Name:</label>
                  <input type="text" class="form-control" id="firstname" name="firstname" [ngModel]="user.firstname" [disabled]="true">
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" [ngModel]="user.email" [disabled]="true">
                </div>
                <div class="form-group">
                  <label for="location">Location:</label>
                  <input type="text" class="form-control" id="location" name="location" [ngModel]="user.location" [disabled]="true">
                </div>
                <div class="form-group">
                  <label for="department">Department:</label>
                  <input type="text" class="form-control" id="department" name="department" [ngModel]="user.department" [disabled]="true">
                </div>
                <div class="form-group">
                  <label for="role">Role:</label>
                  <input type="text" class="form-control" id="role" name="role" [ngModel]="user.role" [disabled]="true">
                </div>
              </form>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
